$font: Atkinson Hyperlegible, sans-serif;
$primary-text-color: #454545;
$blockquote-color: #d1d1d1;
$codeBackground: #f1f1f1;
$codeBorder: #e1e1e1;
$hr-color: #f4f5f6;
$primary-links-color: cornflowerblue;
$steal-color: #647687;
$secondary-steal: #606c76;
$highway-blue-color: #00477e;
$primary-title-color: #ffff;
$navigation-background-color: #f4f5f6;
$navigation-bb-color: #d1d1d1;
$secondary-text-color: #606c76;
$tertiary-text-color: #222;
$button-border: #bbb;
$active: #778da9;
$quaternary-text-color: #0d2c40;
$body-background1: #faf3e6; 
$body-background2: #E7D8AF;
$body-background3: #f6efe5;
